.App {
  text-align: center;
  overflow-x:hidden;
  height:100vh;
  width:100vw;
}
.App::-webkit-scrollbar{
  display: none;
  width: 0;
}
.App{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 0;  /* Firefox */
  }


